<?xml version="1.0"?>
<configuration>

  <system.diagnostics>
    <sources>
      <source propagateActivity="true" name="System.ServiceModel" switchValue="Warning,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\Hari\HK Sample Application\HKWCFServices\HKHostingServices\Web_tracelog.svclog"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
      <add initializeData="C:\Hari\HK Sample Application\HKWCFServices\HKHostingServices\Web_messages.svclog"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="Realm" value="DESKTOP-2P667VG"/>
    <add key="UserName" value="hkindia"/>
    <add key="Password" value="indian"/>
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>

  <connectionStrings>
    <add name="CustomerEntity" connectionString="metadata=res://*/Data.CustomerModel.csdl|res://*/Data.CustomerModel.ssdl|res://*/Data.CustomerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-2P667VG\SQLEXPRESS;initial catalog=NORTHWND;integrated security=False;User ID=sa;Password=indian;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ProductEntities" connectionString="metadata=res://*/Data.ProductModel.csdl|res://*/Data.ProductModel.ssdl|res://*/Data.ProductModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-2P667VG\SQLEXPRESS;initial catalog=NORTHWND;integrated security=False;User ID=sa;Password=indian;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="ProductEntities" connectionString="metadata=res://*/Data.ProductModel.csdl|res://*/Data.ProductModel.ssdl|res://*/Data.ProductModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HKINDIA-PC\SQLEXPRESS;initial catalog=NORTHWND;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="SalesEntities" connectionString="metadata=res://*/Data.SalesModel.csdl|res://*/Data.SalesModel.ssdl|res://*/Data.SalesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-2P667VG\SQLEXPRESS;initial catalog=NORTHWND;integrated security=False;user id=sa;password=indian;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true"
        logMessagesAtTransportLevel="true" />
    </diagnostics>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webHttpBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="DefaultServiceBehavior">
          <dataContractSerializer ignoreExtensionDataObject="true" maxItemsInObjectGraph="2147483647" />
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceAuthorization serviceAuthorizationManagerType="HKWCFServices.Business.Shared.Security.BasicAuthorization, HKWCFServices.Business.Shared" />
        </behavior>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="true" crossDomainScriptAccessEnabled="true"/>
      </webHttpEndpoint>
    </standardEndpoints>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />

    <bindings>
      <customBinding>
        <binding name="wsCustom" receiveTimeout="00:10:30" sendTimeout="00:10:30">
          <security authenticationMode="UserNameOverTransport" />
          <binaryMessageEncoding>
            <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" />
          </binaryMessageEncoding>
          <httpsTransport maxReceivedMessageSize="2147483647" />
        </binding>
        <binding name="wsIntegrated" receiveTimeout="00:10:30" sendTimeout="00:10:30">
          <security authenticationMode="SecureConversation" requireSecurityContextCancellation="true">
            <secureConversationBootstrap authenticationMode="SspiNegotiatedOverTransport" />
          </security>
          <binaryMessageEncoding>
            <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" />
          </binaryMessageEncoding>
          <httpsTransport maxReceivedMessageSize="2147483647" />
        </binding>
        <binding name="wsPlain" receiveTimeout="00:10:30" sendTimeout="00:10:30">
          <binaryMessageEncoding>
            <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" />
          </binaryMessageEncoding>
          <httpsTransport maxReceivedMessageSize="2147483647" />
        </binding>
      </customBinding>
      <wsHttpBinding>
        <binding name="wsCustom" receiveTimeout="00:10:30" sendTimeout="00:10:30"
          maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" />
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="None" />
          </security>
        </binding>
        <binding name="wsIntegrated" receiveTimeout="00:10:30" sendTimeout="00:10:30"
          maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" />
          <security mode="Transport">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
        <binding name="wsMessage" receiveTimeout="00:10:30" sendTimeout="00:10:30"
          maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" />
          <security mode="Message">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
        <binding name="wsIngetragedMessage" receiveTimeout="00:10:30" sendTimeout="00:10:30"
          maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" />
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
        <binding name="wsNone" receiveTimeout="00:10:30" sendTimeout="00:10:30"
          maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" />
          <security mode="None">
            <message clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
      <webHttpBinding>
        <binding name="webHttp">
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>

    <services>
      <service name="HKWCFServices.Business.Customer.Facade.CustomerService" behaviorConfiguration="DefaultServiceBehavior">
        <!--<endpoint name="udpDiscovery" kind="udpDiscoveryEndpoint" />-->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint name="webHTTP" address="JSON" binding="webHttpBinding" contract="HKWCFServices.Business.Customer.Contracts.Service.ICustomerMgmtService" behaviorConfiguration="webHttpBehavior" bindingConfiguration="webHttp"/>
        <!--<endpoint name="wsIngetragedMessage" address="SOAP" binding="wsHttpBinding" contract="HKWCFServices.Business.Customer.Contracts.Service.ICustomerMgmtService" bindingConfiguration="wsIngetragedMessage"/>-->
        <endpoint name="wsIntegrated" address="SOAP" binding="wsHttpBinding" contract="HKWCFServices.Business.Customer.Contracts.Service.ICustomerMgmtService" bindingConfiguration="wsIntegrated"/>
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost/HKWCFServices"/>
          </baseAddresses>
        </host>
      </service>
      <service name="HKWCFServices.Business.Product.Facade.ProductService" behaviorConfiguration="DefaultServiceBehavior">
        <!--<endpoint name="udpDiscovery" kind="udpDiscoveryEndpoint" />-->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint name="webHTTP" address="JSON" binding="webHttpBinding" contract="HKWCFServices.Business.Product.Contracts.Service.IProductMgmtService" behaviorConfiguration="webHttpBehavior" bindingConfiguration="webHttp"/>
        <!--<endpoint name="wsIngetragedMessage" address="SOAP" binding="wsHttpBinding" contract="HKWCFServices.Business.Product.Contracts.Service.IProductMgmtService" bindingConfiguration="wsIngetragedMessage"/>-->
        <endpoint name="wsIntegrated" address="SOAP" binding="wsHttpBinding" contract="HKWCFServices.Business.Product.Contracts.Service.IProductMgmtService" bindingConfiguration="wsIntegrated"/>
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost/HKWCFServices"/>
          </baseAddresses>
        </host>
      </service>
      <service name="HKWCFServices.Business.Product.Facade.CategoryService" behaviorConfiguration="DefaultServiceBehavior">
        <!--<endpoint name="udpDiscovery" kind="udpDiscoveryEndpoint" />-->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint name="webHTTP" address="JSON" binding="webHttpBinding" contract="HKWCFServices.Business.Product.Contracts.Service.ICategoryMgmtService" behaviorConfiguration="webHttpBehavior" bindingConfiguration="webHttp"/>
        <!--<endpoint name="wsIngetragedMessage" address="SOAP" binding="wsHttpBinding" contract="HKWCFServices.Business.Product.Contracts.Service.ICategoryMgmtService" bindingConfiguration="wsIngetragedMessage"/>-->
        <endpoint name="wsIntegrated" address="SOAP" binding="wsHttpBinding" contract="HKWCFServices.Business.Product.Contracts.Service.ICategoryMgmtService" bindingConfiguration="wsIntegrated"/>
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost/HKWCFServices"/>
          </baseAddresses>
        </host>
      </service>
      <service name="HKWCFServices.Business.Product.Facade.SupplierService" behaviorConfiguration="DefaultServiceBehavior">
        <!--<endpoint name="udpDiscovery" kind="udpDiscoveryEndpoint" />-->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint name="webHTTP" address="JSON" binding="webHttpBinding" contract="HKWCFServices.Business.Product.Contracts.Service.ISupplierMgmtService" behaviorConfiguration="webHttpBehavior" bindingConfiguration="webHttp"/>
        <!--<endpoint name="wsIngetragedMessage" address="SOAP" binding="wsHttpBinding" contract="HKWCFServices.Business.Product.Contracts.Service.ISupplierMgmtService" bindingConfiguration="wsIngetragedMessage"/>-->
        <endpoint name="wsIntegrated" address="SOAP" binding="wsHttpBinding" contract="HKWCFServices.Business.Product.Contracts.Service.ISupplierMgmtService" bindingConfiguration="wsIntegrated"/>
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost/HKWCFServices"/>
          </baseAddresses>
        </host>
      </service>
      <service name="HKWCFServices.Business.Sales.Facade.SalesService" behaviorConfiguration="DefaultServiceBehavior">
        <!--<endpoint name="udpDiscovery" kind="udpDiscoveryEndpoint" />-->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint name="webHTTP" address="JSON" binding="webHttpBinding" contract="HKWCFServices.Business.Sales.Contracts.Service.ISalesMgmtService" behaviorConfiguration="webHttpBehavior" bindingConfiguration="webHttp"/>
        <!--<endpoint name="wsIngetragedMessage" address="SOAP" binding="wsHttpBinding" contract="HKWCFServices.Business.Sales.Contracts.Service.ISalesMgmtService" bindingConfiguration="wsIngetragedMessage"/>-->
        <endpoint name="wsIntegrated" address="SOAP" binding="wsHttpBinding" contract="HKWCFServices.Business.Sales.Contracts.Service.ISalesMgmtService" bindingConfiguration="wsIntegrated"/>
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost/HKWCFServices"/>
          </baseAddresses>
        </host>
      </service>      
    </services>

    <protocolMapping>
      <add binding="wsHttpsBinding" scheme="https" />
    </protocolMapping>


  </system.serviceModel>

  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-origin" value=""/>
      </customHeaders>
    </httpProtocol>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
    <!--Web Service Discovery Services 
    - Two Modes: "ad-hoc mode" and "managed mode"
    - In ad-hoc mode, clients probe for services by sending multicast messages. The framework provides UDP multicast mechanism for this ad-hoc mode.
    - In managed service discovery, you provide a discovery proxy on the network that "manages" the discoverable service endpoint-->

  </system.webServer>

</configuration>
